/*
=======================================================================
============================= Banner ==================================
=======================================================================
*/

.banner-wrap {
  height: calc(90vh - 160px);
  //background: url('../img/fabc-banner-1.jpg') 50% 50% no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
  z-index: 1;
  //height: calc(100vh - 200px);

  .banner {

    margin-left: -0.9375rem;
    margin-right: -0.9375rem;


  }
}

@media screen and (max-height: 715px) {

  .banner-wrap {
    height: calc(84vh - 180px);
    //background: url('../img/fabc-banner-1.jpg') 50% 50% no-repeat;
    background-size: cover;
    width: 100%;
    //height: calc(100vh - 200px);

    .banner {

      margin-left: -0.9375rem;
      margin-right: -0.9375rem;

    }
  }

}