
/*
=======================================================================
=============================== GSAP ==================================
=======================================================================
*/

[id^="gsap-"] {
  font-size: 5rem;
  position: absolute;
  z-index: -1;
  text-align: center;
}

#gsap-intro-text-1 {
  top: 25%;
  left: 10%;
  right: 10%;
  margin: 0 auto;
  width: 80%;
}

#gsap-intro-text-2 {
  top: 40%;
  left: 10%;
  right: 10%;
  margin: 0 auto;
  width: 80%;
}