
/*
=======================================================================
=============================== GSAP ==================================
=======================================================================
*/

[id^="gsap-"] {
  color: rgba(0,0,0,.2);
  font-size: 5rem;
  font-family: $heading-font-regular;
  position: absolute;
  z-index: -1;
  text-align: center;
  margin: 0 auto;
  width: 80%;
}

#gsap-intro-text-1 {
  top: 30%;
  left: 10%;
  right: 10%;
}

#gsap-intro-text-2 {
  top: 40%;
  left: 10%;
  right: 10%;
}