/*
=======================================================================
============================ Structure ================================
=======================================================================
*/

body {
  font-family: $base-font;
  color: $medium-gray;
}

.header-wrapper {
  background: $primary-color;
}

.header-intro {

  .banner-wrap {
    //height: calc(80vh - 50px);
  }
}

.page-wrapper {
  margin: 0 auto;
  padding: 30px;
}

//.header-intro {
//  height: 100vh;
//}



.logo {
  position: relative;

  img {
    position: absolute;
    top: 2rem;
    left: 3rem;
    z-index: 10;
  }
}

.columns,
.column {

  &.end {
    padding-right: 0;
  }

  &.begin {
    padding-left: 0;
  }
}

.columns {

  &.text-center {

    article {

      align-items: center;

      h2 {

        margin-bottom: 0;

        &:after {
          left: 0;
          margin: 0 auto;
          right: 0;
          height: 2px;
          width: 3rem;
        }
      }
    }

  }

  article {

    h2 {
      //border-bottom: 1px solid $light-gray;
      margin-bottom: 2.5rem;
      padding-bottom: .5rem;
      position: relative;
      
      &:after {
        background: $secondary-color;
        content: '';
        position: absolute;
        bottom: -.5rem;
        left: 0;
        height: 2px;
        width: 3rem;
      }
    }
    
    //.text-center & {
    //  color: #000;
    //}

    h3 {
      margin-top: .5rem;
      margin-bottom: 2rem;
      padding-bottom: .75rem;
    }
  }
}

//.end article {
//  background: url('../img/fabc-banner-1.jpg') 50% 50% no-repeat;
//  position: relative;
//  z-index: -1;
//}

.column {

  article {
    //background: #efefef;
    padding: 3.5rem;
    position: relative;
  }

  h2 {
    margin-bottom: 3rem;
  }

  &.end, &.begin {
    //border-bottom: 1px solid $white;
    //border-top: 1px solid $white;
    padding-right: 0;
    position: relative;
  }

  //&.end {
  //  padding-right: 0;
  //}
  //
  //&.begin {
  //  padding-left: 0;
  //}
}

.main-content-wrap {

  background: $xlight-gray;

  .content-item-1 {
    background: $light-gray;
    padding-right: 3.5rem;
    
  }
}

.content-item {
  padding: 0 0 5rem 3.5rem;
  position: relative;

  h2, h3 {
    //border-top: 1px solid rgba(0, 0, 0, .075);
    //border-top: 1px solid rgba(196,68,39,.1);
    padding-top: 3.5rem;
  }

  nav & {
    padding-top: 0;
  }
}

.quick-links {
  background: $tertiary-color;
  height: calc(84vh - 180px);
  padding: 0;
  position: relative;
  
  a {
    color: $white;
    display: block;
    letter-spacing: 2px;
    list-style-type: none;
    align-self: stretch;
    flex-basis: 7%;
    //display: -webkit-flex;
    //display: -ms-flexbox;
    //display: flex;
    font-family: $base-font-bolder;
    font-size: .9rem;
    font-weight: 100;
    //margin: 0 auto;
    //left: 0;
    //right: 0;
    //-webkit-flex-wrap: nowrap;
    //-ms-flex-wrap: nowrap;
    //flex-wrap: nowrap;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 42%;
    text-transform: uppercase;
    //-webkit-flex: 0 0 auto;
    //-ms-flex: 0 0 auto;
    //flex: 0 0 auto;
    //height: 100%;
    //width: 100%;
    /* Safari */
    -webkit-transform: rotate(90deg);

    /* Firefox */
    -moz-transform: rotate(90deg);

    /* IE */
    -ms-transform: rotate(90deg);

    /* Opera */
    -o-transform: rotate(90deg);

    transform: rotate(90deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  }
}

.worship-times-callout {
  background: $dark-blue;
  max-height: 700px !important;
  min-height: 600px;
}

.current-events-callout {
  background: $secondary-color;
  max-height: 800px !important;
  min-height: 700px;
}

.ministries-callout {
  background: $dark-gray;
  max-height: 800px !important;
  min-height: 700px;
}

//.worship-times-callout {
//
//}
//
//.current-events-callout {
//
//}
//
//.ministries-callout {
//
//}

.vh-100 {
  height: 100%;
}

.overlay-a,
.overlay-b,
.overlay-c,
.overlay-d,
.overlay-e,
.overlay-f,
.overlay-g,
.overlay-h {
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
}

.overlay-a {
  background: url("../img/overlay-a.png") repeat;
}

.overlay-b {
  background: url("../img/overlay-b.png") repeat;
}

.overlay-c {
  background: url("../img/overlay-c.png") repeat;
}
.overlay-d {
  background: url("../img/overlay-d.png") repeat;
}

.overlay-e {
  background: url("../img/overlay-e.png") repeat;
}
.overlay-f {
  background: url("../img/overlay-f.png") repeat;
}

.overlay-g {
  background: url("../img/overlay-g.png") repeat;
}
.overlay-h {
  background: url("../img/overlay-h.png") repeat;
}
.overlay-h {
  background: url("../img/overlay-h.png") repeat;
}
.text-inverted {
  color: $white;
}

.intro {
  background: $white;
  padding-bottom: 6rem;
  padding-top: 3.5rem;

  h1 {

    span {
      font-size: 1.25rem;
    }
  }
}

.intro-text {

  h1 {
    font-size: 4.5rem;
    line-height: .6;
    margin-bottom: 7rem;
    position: relative;

    &:after {
      background: $secondary-color;
      content: '';
      margin: 0 auto;
      position: absolute;
      bottom: -3rem;
      left: 0;
      right: 0;
      height: 2px;
      width: 4rem;
    }
  }

  p {
    font-size: 1.35rem;
  }
}

.intro-img {
  margin-top: -8rem;

  img {
    display: block;
    margin: 0 auto 1rem;
  }

  p {
    font-size: 1rem;
    color: $dark-blue;
    line-height: 1.25;
    text-align: center;
  }

  //img {
  //  border: 3px solid $white;
  //}
}

.news-link {

  li {
    margin-bottom: 1rem;
  }

  h4 {
    color: $link-color;
    margin-bottom: 0;
  }

}

.grid-4 {
  padding: 0.9375rem;
  
  li {

  }
}



.ministries-4 {
  
  .column, .columns {
    height: 100px;
    //border-left: 1px solid $white;
    padding: 0;
    
    
    * {
      justify-content: center;
      text-align: center;
      align-items: center;
      height: 100%;
      display: flex;
    }
  }
}

.bookstore a,
.n2n a,
.bw-watkins a,
.credit-union a {
  color: $white;
  font-family: $base-font-bolder;
  line-height: 1.1;
}

.bookstore {
  background: #D7AA15;
}

.n2n {
  background: #00577A;
}

.bw-watkins {
  background: #A1341B;
}

.credit-union {
  background: #585F32;
}

/*=================================

         Media Queries

==================================*/

/*@media screen and (min-width: 105em) {

  .page-wrapper {
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    border-left: 1px solid rgba(0, 0, 0, .1);
    border-right: 1px solid rgba(0,0,0,.1);
    max-width: 110rem;
    padding: 0;
  }
}*/

@media screen and (min-width: 120em) {

  .page-wrapper {
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    border-left: 1px solid rgba(0, 0, 0, .1);
    border-right: 1px solid rgba(0,0,0,.1);
    max-width: 120rem;
    padding: 0;
  }
}

/*@media screen and (min-width: 90em) {

  .page-wrapper {
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    border-left: 1px solid rgba(0, 0, 0, .1);
    border-right: 1px solid rgba(0,0,0,.1);
    max-width: 100rem;
    padding: 0;
  }
}*/

@media screen and (min-width: 105em) {

  //.page-wrapper {
  //  box-shadow: 0 0 20px rgba(0,0,0,.2);
  //  border-left: 1px solid rgba(0, 0, 0, .1);
  //  border-right: 1px solid rgba(0,0,0,.1);
  //  max-width: 110rem;
  //  padding: 0;
  //}
  //.logo {
  //  position: relative;
  //
  //  img {
  //    position: absolute;
  //    top: 2rem;
  //    left: 7rem;
  //    z-index: 10;
  //  }
  //}

}

@media screen and (max-width: 90em) {

  .logo {
    position: relative;

    img {
      position: absolute;
      top: 2rem;
      left: 1rem;
      z-index: 10;
    }
  }

}

@media screen and (max-width: 75em) {

  .column {

    article {
      padding: 3.5rem 1rem;
    }
  }

  .logo {
    position: relative;

    img {
      position: absolute;
      top: 2rem;
      left: 0;
      z-index: 10;
    }
  }
}

@media screen and (max-width: 64em) {


  .column {

    article {
      padding: 1.5rem;
    }

    &.end {
      padding-left: 0;
    }
  }

  .logo {
    position: relative;

    img {
      position: absolute;
      top: 2rem;
      left: 2rem;
      z-index: 10;
    }
  }
}

@media screen and (max-width: 40em) {

  .page-wrapper {
    padding: 10px;
  }
  .column,
  .columns {
    flex: 100% !important;

    article.content-item {
      min-height: 370px;
      padding: 0;
    }
  }

  .intro {
    padding-bottom: 2rem;
  }

  .intro-text h1 {
    font-size: 3.75rem;
    margin-bottom: 4rem;
  }
  //main {
  //  padding-left: 5%;
  //  padding-right: 5%;
  //}

  h1,
  h2,
  h3,
  h4,
  h5 {
    text-align: center;
  }
}

