/*
=======================================================================
============================ Structure ================================
=======================================================================
*/

body {
  font-family: $baseFontFamily;
  color: $medium-gray;
}

.header-wrapper {
  background: $primary-color;
}

.header-intro {

  .banner-wrap {
    //height: calc(80vh - 50px);
  }
}

.page-wrapper {
  margin: 0 auto;
  padding: 30px;
}

//.header-intro {
//  height: 100vh;
//}

.quick-links {
  background: $secondary-color;

  a {
    color: $white;
    padding: 2rem;
    text-transform: uppercase;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
}

.logo {
  position: relative;

  img {
    position: absolute;
    top: 2rem;
    left: 11rem;
    z-index: 10;
  }
}

.columns,
.column {

  &.end {
    padding-right: 0;
  }

  &.begin {
    padding-left: 0;
  }
}

.columns {

  article {

    h2 {
      border-bottom: 1px solid $light-gray;
      margin-bottom: 3rem;
      padding-bottom: .5rem;
    }

    h3 {
      border-bottom: 1px solid $light-gray;
      margin-top: .5rem;
      margin-bottom: 2rem;
      padding-bottom: .75rem;
    }
  }
}

//.end article {
//  background: url('../img/fabc-banner-1.jpg') 50% 50% no-repeat;
//  position: relative;
//  z-index: -1;
//}

.column {

  article {
    //background: #efefef;
    padding: 3.5rem;
    position: relative;
  }

  h2 {
    margin-bottom: 2rem;
  }

  &.end, &.begin {
    border-bottom: 1px solid $white;
    border-top: 1px solid $white;
    padding-right: 0;
    position: relative;
  }

  //&.end {
  //  padding-right: 0;
  //}
  //
  //&.begin {
  //  padding-left: 0;
  //}
}

.content-item {
  padding: 3.5rem 0 5rem 3.5rem;
  position: relative;

  nav & {
    padding-top: 0;
  }
}

.vh-100 {
  height: 100%;
}

.overlay-851,
.overlay-70,
.overlay-71,
.overlay-72,
.overlay-73,
.overlay-74,
.overlay-50 {
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
}

.overlay-851 {
  background: url("../img/transparent-85-1.png") repeat;
}

.overlay-50 {
  background: url("../img/transparent-50.png") repeat;
}

.text-inverted {
  color: $white;
}

.intro {
  background: $white;
  padding-bottom: 6rem;
  padding-top: 3.5rem;

  h1 {

    span {
      font-size: 1.25rem;
    }
  }
}

.intro-text {

  h1 {
    font-size: 4.5rem;
    line-height: .6;
    margin-bottom: 4rem;
  }

  p {
    font-size: 1.35rem;
  }
}

.intro-img {
  margin-top: -9rem;

  img {
    display: block;
    margin: 0 auto 1rem;
  }

  p {
    text-align: center;
  }

  //img {
  //  border: 3px solid $white;
  //}
}

.news-link {

  li {
    margin-bottom: 1rem;
  }

  h4 {
    color: $link-color;
    margin-bottom: 0;
  }

}

.worship-times-callout {
  max-height: 600px !important;
  min-height: 500px;
}

.current-events-callout {
  max-height: 700px !important;
  min-height: 600px;
}

.ministries-callout {
  max-height: 800px !important;
  min-height: 700px;
}

.ministries-4 {
  
  .column, .columns {
    background: #ccc;
    height: 100px;
    border-left: 1px solid $white;
    
    
    * {
      justify-content: center;
      text-align: center;
      align-items: center;
      height: 100%;
      display: flex;
    }
  }
}

/*=================================

         Media Queries

==================================*/

/*@media screen and (min-width: 105em) {

  .page-wrapper {
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    border-left: 1px solid rgba(0, 0, 0, .1);
    border-right: 1px solid rgba(0,0,0,.1);
    max-width: 110rem;
    padding: 0;
  }
}*/

@media screen and (min-width: 120em) {

  .page-wrapper {
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    border-left: 1px solid rgba(0, 0, 0, .1);
    border-right: 1px solid rgba(0,0,0,.1);
    max-width: 120rem;
    padding: 0;
  }
}

@media screen and (min-width: 105em) {

  //.page-wrapper {
  //  box-shadow: 0 0 20px rgba(0,0,0,.2);
  //  border-left: 1px solid rgba(0, 0, 0, .1);
  //  border-right: 1px solid rgba(0,0,0,.1);
  //  max-width: 110rem;
  //  padding: 0;
  //}
  //.logo {
  //  position: relative;
  //
  //  img {
  //    position: absolute;
  //    top: 2rem;
  //    left: 7rem;
  //    z-index: 10;
  //  }
  //}

}

@media screen and (max-width: 90em) {

  .logo {
    position: relative;

    img {
      position: absolute;
      top: 2rem;
      left: 5rem;
      z-index: 10;
    }
  }

}

@media screen and (max-width: 75em) {

  .column {

    article {
      padding: 3.5rem 1rem;
    }
  }

  .logo {
    position: relative;

    img {
      position: absolute;
      top: 2rem;
      left: 3rem;
      z-index: 10;
    }
  }
}

@media screen and (max-width: 64em) {


  .column {

    article {
      padding: 1.5rem;
    }

    &.end {
      padding-left: 0;
    }
  }

  .logo {
    position: relative;

    img {
      position: absolute;
      top: 2rem;
      left: 2rem;
      z-index: 10;
    }
  }
}

@media screen and (max-width: 40em) {

  .page-wrapper {
    padding: 10px;
  }
  .column,
  .columns {
    flex: 100% !important;

    article.content-item {
      min-height: 370px;
      padding: 0;
    }
  }

  .intro {
    padding-bottom: 2rem;
  }

  .intro-text h1 {
    font-size: 3.75rem;
    margin-bottom: 4rem;
  }
  //main {
  //  padding-left: 5%;
  //  padding-right: 5%;
  //}

  h1,
  h2,
  h3,
  h4,
  h5 {
    text-align: center;
  }
}

