
$baseFontFamily: 'proxima_nova_ththin', Helvetica, Arial, sans-serif;
$headingsFontFamily: 'playfair_displaybold', "Helvetica Neue", Helvetica, Arial, sans-serif;
$controlsFontFamily: $baseFontFamily;
$codeFontFamily: Menlo, Monaco, Consolas, "Courier New", monospace;
$mainNavFontFamily: 'montserratbold';

/*  Colors */

$primary-color: #390C06;
$secondary-color: #5B1700;
$white: #fff;
$light-gray: #eee;
$medium-gray: #777;
$dark-gray: #354545;
$link-color: #C44426;